.messagehead{
    width: 30vw;
    height: 10vh;
    background-color: rgb(190, 185, 185);
    /* background-color: red; */
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.dpimage{
    height: 8vh;
    width: 8vh;
    /* background-color: red; */
    border-radius: 30px;
}
.dpimage{
    height: 8vh;
    width: 8vh;
    background-color: red;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 30px;
    overflow: hidden;
}
.headname{
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10px;
}
.message-main{
    display: flex;
    justify-content: center;
}
.message-second{
    
}
.messagedisp{
    padding-top: 10px;
    width: 30vw;
    height: 70vh;
    background-color: rgb(235, 235, 235);
    overflow: scroll;
}
.messageselfmain{
    width: 30vw;
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
}
.messageself{
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    margin-left: 7vw; 
    margin-right: 2vw;
    /* margin-right: 1px; */
    color: white;
    background-color: rgb(69, 69, 122);
}
.messagenotself{
    margin-bottom: 15px;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    /* margin-left: 30px; */
    margin-left: 2vw; 
    margin-right: 7vw;
    color: white;
    background-color: rgb(193, 193, 210);
    font-size: 1rem;
    color: black;
}

.messagetext{
    width: 25vw;
    height: 7vh;
    font-size: 1rem;
    /* border: 2px solid black; */
}

.messagesend{
    display: flex;
}

.messagesendbtn{
    width: 4.5vw;
    height: 7.9vh;
    /* border: 2px solid black; */
}
@media only screen and (max-width: 1038px) {
    .messagedisp{
        width: 50vw;
        height: 75vh;
    }
    .messageselfmain{
        width: 50vw;
    }
    .messagehead{
        width: 50vw;
    }
    .messagenotself{
        font-size: 1rem;
    }
    .messageself{
        font-size: 1rem;
    }

    .messagetext{
        width: 47vw;
        font-size: 1.5rem;
        border: 2px solid black;
    }
    .messagesendbtn{
        width: 12vw;
        height: 7.7vh;
    }
    
}
@media only screen and (max-width: 900px) {
    .messagedisp{
        width: 60vw;
    }
    .messageselfmain{
        width: 60vw;
    }
    .messagehead{
        width: 60vw;
    }
    .messagenotself{
        font-size: 1.25rem;
    }
    .messageself{
        font-size: 1.25rem;
    }

}

@media only screen and (max-width: 428px) {
    .messagedisp{
        width: 100vw;
        height: 75vh;
    }
    .messageselfmain{
        width: 100vw;
    }
    .messagehead{
        width: 100vw;
    }
    .messagenotself{
        font-size: 1.25rem;
    }
    .messageself{
        font-size: 1.25rem;
    }
    .messagetext{
        width: 85vw;
        font-size: 1.5rem;
        border: 2px solid black;
        height: 6.5vh;
    }
    .messagesendbtn{
        width: 12vw;
        height: 7.2vh;
    }

}