.main_chat{
    justify-content: center;
    /* color: rgb(223, 216, 216); */
    box-shadow: 2px;
    display: flex;
    padding-top: 10px;
}
.people_names{
    padding-top: 20px;
    height: 85vh;
    overflow: scroll;
    width: 30vw;
    border-radius: 30px;
    /* background-color: rgb(233, 232, 232); */
    box-shadow: 2px 5px #565656;
    
}
::-webkit-scrollbar {
    width: 0px;
}
.livechat{
    
}
.dispchat{
    
}
.messagesend{
    
}
.namedesi{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    /* border-bottom: 2px solid black; */
    font-size: 1.5rem;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px #7f7e7e;
}
.namedesilink{
    color: black;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media only screen and (max-width: 428px) {
    .people_names{
        width: 100vw;
        box-shadow: none;
    }

}